*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F9F9FA;
    overflow: hidden;
}

a, a:hover {
    color: #444444;
    text-decoration: none;
}
.col-md-4.col-lg-3.col-sm-6.mb-4 {
  transition: all 0.5s ease;
}
.header .row .intro {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 4rem;
}
.header h2.headerTitle {
  margin-top: 28px;
}
.container-fluid.articleContainer {
  height: 100%;
  overflow: hidden;
}
.cardContainer  {
  height: 100%;
}
.cardContainer .card {
  height: 100%;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.25);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transition: all .3s ease;
}
.cardContainer .card:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  margin-top: -2px;
}
.card-body {
  overflow: hidden;
}
.projectType {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.projectType.loading {
  height: 0.5rem;
  margin-top: -1rem;
}
.publishedDate {
  font-size: 0.8rem;
  color: #9B9B9B;
}
.publishedDate.loading {
  opacity: 0;
}

.cardContainer .card .card-body {
  height: 200px;
}
.cardContainer .card .card-footer {
  display: block;
}
.cardContainer .card .card-footer .footerLeft {
  float: left;
  display: flex;
}
.cardContainer .card .card-footer .footerLeft i {
  margin-left: 5px;
  margin-top: 5px;
}
.cardContainer .card .card-footer .footerRight {
  float: right;
}
.cardContainer .card .sourceImage {
  height: 160px;
  width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: center;
  background-color: #efefef;
}
.cardContainer .card .card-img-top {
  height: 160px;
  overflow: hidden;
}
.cardContainer .card .sourceTitle h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: -1rem;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
  max-height: 50px;
}
.cardContainer .card .sourceTitle.loading h3 {
  height: 48px;
  margin-top: 1rem;
}
.cardContainer .card .sourceDescription {
  line-height: 1.25rem;
  max-height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardContainer .card .sourceDescription.loading {
  height: 12px;
  margin-top: 0.5rem;
  width: 100%;
}

.test {
  background-color: red !important;

}
.rightColumn {
  background-color: white;
  padding-top: 1rem;
}
.articleArea {
  height: 100vh;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: #F9F9FA;
  overflow-y: scroll;
}
.leftColumn {
  padding-left: 2rem;
}
.rowTop {
  background-color: lavender;
  border: 1px solid gray;
  height: 100px;
}
.rowBottom {
  border: 1px solid gray;
  height: 550px;
}
.rightColumn > h3 {
  height: 36px;

}

/* Loader */


.loading-container { margin: 0 auto }

.loading {
    position: relative;
    background-color: #f0f0f0;
}
.loading::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  animation: loading 1.5s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
/* End Loader */