*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F9F9FA;
    overflow: hidden;
}

a, a:hover {
    color: #444444;
    text-decoration: none;
}
.col-md-4.col-lg-3.col-sm-6.mb-4 {
  transition: all 0.5s ease;
}
.header .row .intro {
  display: flex;
  justify-content: space-between;
  background-color: #2a3f4b;
  color: white;
  padding: 1rem 4rem;
}
.header h2.headerTitle {
  margin-top: 28px;
}
.container-fluid.articleContainer {
  height: 100%;
  overflow: hidden;
}
.articleArea .row {
  padding-bottom: 20%;
}
.cardContainer  {
  height: 100%;
}
.cardContainer .card {
  height: 100%;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.25);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transition: all .3s ease;
}
.cardContainer .card:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  margin-top: -2px;
}
.card-body {
  overflow: hidden;
}


.projectType {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.projectType.loading {
  height: 0.5rem;
  margin-top: -1rem;
}
.publishedDate {
  font-size: 0.8rem;
  color: #9B9B9B;
}
.publishedDate.loading {
  opacity: 0;
}

.cardContainer .card .card-body {
  height: 200px;
}
.cardContainer .card .card-footer {
  display: block;
}
.cardContainer .card .card-footer .footerLeft {
  float: left;
  display: flex;
}
.cardContainer .card .card-footer .footerLeft i {
  margin-left: 5px;
  margin-top: 5px;
}
.cardContainer .card .card-footer .footerRight {
  float: right;
}
.cardContainer .card .sourceImage {
  height: 160px;
  width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: center;
  background-color: #efefef;
}
.cardContainer .card .card-img-top {
  height: 160px;
  overflow: hidden;
}
.cardContainer .card .sourceTitle h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: -1rem;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
  max-height: 50px;
}
.cardContainer .card .sourceTitle.loading h3 {
  height: 48px;
  margin-top: 1rem;
}
.cardContainer .card .sourceDescription {
  line-height: 1.25rem;
  max-height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardContainer .card .sourceDescription.loading {
  height: 12px;
  margin-top: 0.5rem;
  width: 100%;
}

.test {
  background-color: red !important;

}
.rightColumn {
  background-color: white;
  padding-top: 1rem;
}
.articleArea {
  height: 100vh;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: #F9F9FA;
  overflow-y: scroll;
}
.leftColumn {
  padding-left: 2rem;
}
.rowTop {
  background-color: lavender;
  border: 1px solid gray;
  height: 100px;
}
.rowBottom {
  border: 1px solid gray;
  height: 550px;
}
.rightColumn > h3 {
  height: 36px;

}
.coinPrice {
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  color: #ffffff;
  transition: ease-in-out;
  transition-duration: 100ms;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.coinPrice.card {
  background-color: #2a3f4b !important;
  border: none;
  height: 100%;
}
.coinPrice h3 {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
}
.coinPrice p {
  font-size: 0.75rem;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  max-width: 132px;
  width: 100%;
  text-overflow: ellipsis;
}
.sidebar {
  background-color: #152c3a !important;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.coinRow {
  height: 64px;
  margin: 1rem 0 0 0;
}
.coinList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.coinList::-webkit-scrollbar, .coinList::-moz-scrollbar  {
  background-color:  #152c3a;
  width: 8px;
}
.coinList::-webkit-scrollbar-thumb, .coinList::-moz-scrollbar-thumb {
  background-color: #2a3f4b;
  border-radius: 10px;
}
.coinList::-webkit-scrollbar-track, .coinList::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 1rem;
}
.adSpace {
  height: 200px;
  width: 100%;
  border: 1px solid red;
}
.coinPrice.gain:hover {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #59a96a;
}
.coinPrice.gain:hover h3 {
  color: #59a96a;
}
.coinPrice.loss:hover {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #fe5f55;
}
.coinPrice.loss:hover h3 {
  color: #fe5f55;
}
.coinPrice::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0,0,0,0);
  width: 8px;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.card.coinPrice .text-right .percentage.gain {
  color: #59a96a;
}
.card.coinPrice .text-right .percentage.loss {
  color: #fe5f55;
}

.coinPrice.gain::before {
  background-color: #59a96a;
}
.coinPrice.loss::before {
  background-color: #fe5f55;
}


/* Loader */


.loading-container { margin: 0 auto }

.loading {
    position: relative;
    background-color: #f0f0f0;
}
.loading::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  animation: loading 1.5s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
/* End Loader */