a, a:hover {
    color: #444444;
    text-decoration: none;
}

.cardContainer  {
  height: 100%;
}
.cardContainer .card {
  height: 100%;
}
.cardContainer .card .card-body {
  height: 200px;
}
.cardContainer .card .card-footer {
  display: block;
}
.cardContainer .card .card-footer .footerLeft {
  float: left;
}
.cardContainer .card .card-footer .footerRight {
  float: right;
}
.cardContainer .card .sourceImage {
  height: 212px;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  background-color: #efefef;
}
.cardContainer .card .sourceTitle h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: -1rem;

}
.cardContainer .card .sourceDescription {
  line-height: 1.35rem;
  max-height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}