*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    overflow-x: hidden;
}

a, a:hover {
    color: #444444;
    text-decoration: none;
}
.col-md-4.col-lg-3.col-sm-6.mb-4 {
  transition: all 0.5s ease;
}
.cardContainer  {
  height: 100%;
}
.cardContainer .card {
  height: 100%;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transition: all .3s ease;
}
.cardContainer .card:hover {
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.25);
  margin-top: -10px;
}
.cardContainer .card .card-body {
  height: 200px;
}
.cardContainer .card .card-footer {
  display: block;
}
.cardContainer .card .card-footer .footerLeft {
  float: left;
  display: flex;
}
.cardContainer .card .card-footer .footerLeft i {
  margin-left: 5px;
  margin-top: 5px;
}
.cardContainer .card .card-footer .footerRight {
  float: right;
}
.cardContainer .card .sourceImage {
  height: 160px;
  width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: center;
  background-color: #efefef;
}
.cardContainer .card .card-img-top {
  height: 160px;
  background-color: #efefef;
}
.cardContainer .card .sourceTitle h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: -1rem;
  width: 100%;                   /* IE6 needs any width */
  overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
  -o-text-overflow: ellipsis;    /* Opera < 11*/
  text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
  max-height: 50px;
}
.cardContainer .card .sourceDescription {
  line-height: 1.35rem;
  max-height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.test {
  background-color: red !important;

}

/* Loader */
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-container,
.loading {
    height: 300px;
    position: relative;
    width: 300px;
    border-radius: 100%;
}
.image-loading-container,
.image-loading {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 100%;
}
.image-loading-container #loading-text {
  margin-top: 64px;
  width: 100%;
}


.loading-container { margin: 100px auto }

.loading {
    border: 2px solid transparent;
    border-color: transparent #353838 transparent #353838;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    /* -moz-animation: loading-text-opacity 2s ease 0s infinite normal;
    -o-animation: loading-text-opacity 2s ease 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s ease 0s infinite normal;
    animation: loading-text-opacity 2s ease 0s infinite normal; */
    color: #353838;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 1rem;
    font-weight: bold;
    margin-top: 120px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 300px;
}
/* End Loader */